# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
env/
venv/

# Ignore the database file
db.sqlite3

# Ignore the static files directory
staticfiles/

# Ignore the media files directory
media/