<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>User name</th>
          <th>Regiestration date</th>
          <th>is_admin</th>
        </tr>
        {% for user in users %}
            <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.registration_date }}</td>
            <td>{{ user.is_admin }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>{{ query_statement }}</p>
</body>
</html>